---
- name: Install iptables
  community.general.xbps:
    pkg: iptables
    state: present
  tags: [install_iptables]

- name: Install iptables-reload command
  ansible.builtin.copy:
    src: iptables-reload
    dest: /usr/local/sbin/iptables-reload
    owner: root
    group: root
    mode: "0755"
  tags: [install_iptables]

- name: Make iptables.d
  ansible.builtin.file:
    path: /etc/iptables.d
    state: directory
    owner: root
    group: root
    mode: "0740"
  tags: [install_iptables]

- name: Configure base rules for IPv4 firewall
  ansible.builtin.template:
    src: 0common.rules.j2
    dest: /etc/iptables.d/0common.rules
    owner: root
    group: root
    mode: "0640"
  notify:
    - iptables
  tags: [install_iptables, configure_iptables]

- name: Make ip6tables.d
  ansible.builtin.file:
    path: /etc/ip6tables.d
    state: directory
    owner: root
    group: root
    mode: "0740"
  tags: [install_iptables]

- name: Configure base rules for IPv6 firewall
  ansible.builtin.template:
    src: 0common.6rules.j2
    dest: /etc/ip6tables.d/0common.6rules
    owner: root
    group: root
    mode: "0640"
  notify:
    - iptables
  tags: [install_iptables, configure_iptables]

- name: Configure boot-time service
  ansible.builtin.file:
    src: /usr/local/sbin/iptables-reload
    dest: /etc/runit/core-services/04-iptables.sh
    state: link
  tags: [install_iptables]
