---
- name: Configure hosts
  ansible.builtin.template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: "0644"
  tags: [configure_hosts]

- name: Configure hostname
  ansible.builtin.template:
    src: hostname.j2
    dest: /etc/hostname
    owner: root
    group: root
    mode: "0644"
  tags: [configure_hostname]

- name: Configure static DNS
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: "0644"
  when: network_static_dns_resolvers is defined or network_static_dns_search is defined
  tags: [configure_dns]

- name: Configure IPv4 firewall for static DNS
  ansible.builtin.template:
    src: 0dns.rules.j2
    dest: /etc/iptables.d/0dns.rules
    owner: root
    group: root
    mode: "0640"
  notify:
    - iptables
  vars:
    v4_addresses: "{{ network_static_dns_resolvers | ansible.utils.ipv4 }}"
    dns_servers: "{{ v4_addresses | difference(v4_addresses | ansible.utils.ipaddr(query='loopback')) }}"
  when:
    - dns_servers|default([])|length > 0
  tags: [configure_dns, configure_iptables]

- name: Configure IPv6 firewall for static DNS
  ansible.builtin.template:
    src: 0dns.rules.j2
    dest: /etc/ip6tables.d/0dns.6rules
    owner: root
    group: root
    mode: "0640"
  notify:
    - iptables
  vars:
    v6_addresses: "{{ network_static_dns_resolvers | ansible.utils.ipv6 }}"
    dns_servers: "{{ v6_addresses | difference(v6_addresses | ansible.utils.ipaddr(query='loopback')) }}"
  when:
    - dns_servers|default([])|length > 0
  tags: [configure_dns, configure_iptables]
