controlgroup wheel
persistent
{% if 'dhcp' in dhcp_interfaces|default({}) %}
hostname
duid
{% for option in network_dhcp_options %}
option {{ option }}
{% endfor %}
require dhcp_server_identifier

{% for interface in network_interfaces %}
{% if interface.name == 'default' %}
interface {{ ansible_default_ipv4.interface }}
{% else %}
interface {{ interface.name }}
{% endif %}
{% if interface.mode == 'dhcp' %}
	dhcp
{% else %}
	noipv4
{% endif %}
{% if interface.mode6 == 'dhcp' %}
	dhcp6
{% else %}
	noipv6
{% endif %}
{% endfor %}
{% else %}
nogateway
{% endif %}
