#!/bin/sh
{% for interface in network_static_interfaces %}
{% if interface.type == "vlan" %}
ip link add name {{interface.name}} link {{interface.parent}} type vlan id {{interface.id}}
{% endif %}
{% for addr in interface.addrs|default([]) %}
ip address add {{addr}} dev {{interface.name}}
{% endfor %}
ip link set {{interface.name}} up
{% endfor %}
{% for route in network_static_routes %}
ip route add {{route.to}} via {{route.via}}
{% endfor %}
